.row {
    display:flex;
    flex-direction: row;
    
}


.unclickable {
    position: relative;
    pointer-events: none;
    opacity: 0.3
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}